<nav class="mb-5">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
    <li class="breadcrumb-item"><a routerLink="/categorias">Categorias</a></li>
    <li class="breadcrumb-item active"> {{ tituloPagina }}</li>
  </ol>
</nav>

<div class="row mb-4">
  <div class="cold-md">
    <h1 class="h2 border-left pl-2">
        {{ tituloPagina }}
    </h1>
  </div>
  <div class="col-md">
    <a routerLink="/categorias" class="btn btn-success float-right"><< Listar Categorias</a>
  </div>
</div>


<form [formGroup]="dadosForm" (submit)="EnviarForm()">
  <div class="card">
    <div class="card-header">
      Informações Categoria
    </div>
  </div>

  <div class="card-body">
    <div class="form-row">
        <input type="hidden" class="form-control" id="id" formControlName="id">
      <div class="form-group col-md-4">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" id="nome" formControlName="nome">
      </div>

      <div class="form-group col-md-6">
          <label for="descricao">Descricao</label>
          <input type="text" class="form-control" id="descricao" formControlName="descricao">
        </div>
    </div>
  </div>
  
  <button class="btn btn-primary btn-lg float-right mt-3">
    Salvar Categoria
  </button>
</form>